@font-face {
  font-family: 'euro';
  src: url('/eurof75.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto';
  src: url('/Roboto-Bold.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion_wrapper .chakra-accordion__button:hover {
  background-color: transparent; 
}